version: '3'
services:
  client-web:
    container_name: client-web
    build:
      context: ./client-web
    ports:
      - "8081:80"
    env_file:
      - client-web-variables.env
    networks:
      - area
  client-mobile:
    container_name: mobile
    build:
      context: ./mobile
    volumes:
      - mobile-apk:/usr/src/app/apk
  api:
    container_name: api
    build:
      context: ./server
    ports:
      - "8080:8080"
    environment:
      - MONGO_USERNAME=${MONGO_USERNAME:-admin}
      - MONGO_PASSWORD=${MONGO_PASSWORD:-admin}
      - MONGO_DATABASE=${MONGO_DATABASE}
      - MONGO_HOST=${MONGO_HOST:-mongodb:27017}
      - DATABASE_TYPE=${DATABASE_TYPE:-local}

    networks:
      - area
      - db


networks:
  area:
    driver: bridge
  db:
    driver: bridge

volumes:
  mobile-apk:
  mongodb_data_container:
