body {
  /* background-color: #3B2982; */
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.background {
  background-color: #3b2982;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.base {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 90%;
  display: flex;
  background-color: #656565;
}

.user {
  margin-left: 95%;
  width: 5%;
  height: 10%;
  background-color: #3d3d3d;
  display: flex;
  align-items: center;
}

.buttonUser {
  margin-left: 15%;
  width: 80%;
  height: 70%;
  background-color: #d9d9d9;
  border-radius: 50%;
}

/* Home.jsx */

.squareWorkflow {
  margin-left: 5%;
  width: 90%;
  height: 30%;
  background-color: #3d3d3d;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  flex-shrink: 0;
}

.title {
  margin-left: 3%;
  color: white;
}

.workflow {
  margin-top: 2%;
  margin-left: 5%;
  width: 11%;
  height: 70%;
}

.button {
  width: 100%;
  height: 100%;
  background-color: #d9d9d9;
  border-radius: 5px;
}

.squareService {
  margin-left: 5%;
  margin-bottom: 5%;
  width: 90%;
  height: 30%;
  background-color: #3d3d3d;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.service {
  margin-left: 5%;
  width: 11%;
  height: 70%;
}

.buttonservice {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border-width: 10px;
}

.status {
  color: white;
  margin-left: 25%;
  margin-top: 5%;
}

.SubmitButton {
  margin-left: 55%;
  width: 10%;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* workflow.jsx */

.subTitle {
  margin-left: 5%;
  color: white;
}

.action {
  margin-left: 5%;
  margin-bottom: 5%;
  width: 60%;
  height: 30%;
  background-color: #3d3d3d;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.select {
  margin-left: 10%;
  margin-top: 8%;
  width: 100%;
  height: 100%;
}

.ActionSelect {
  margin-left: 15%;
  width: 1000%;
  height: 100%;
  border-radius: 20px;
  font-size: 15px;
  background-color: #d9d9d9;
}

.select {
  margin-left: 10%;
  width: 10%;
  height: 60%;
}

.SelectOption {
  margin-left: 5%;
  margin-bottom: 1%;
  margin-top: 1%;
  width: 20%;
  height: 20%;
  border-radius: 20px;
  font-size: 15px;
  background-color: #d9d9d9;
}

.ActionInput {
  margin-left: 10%;
  margin-bottom: 1%;
  width: 80%;
  height: 50%;
  border-radius: 20px;
  background-color: #d9d9d9;
}


/* WorkflowInfo.jsx */

.Info {
  margin-left: 5%;
  margin-top: 5%;
  width: 50%;
  height: 80%;
  background-color: #3d3d3d;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.delete {
  margin-left: 93%;
}

.WorkflowInfo {
  margin-left: 5%;
  width: 90%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.ActionInfo {
  margin-left: 10%;
  width: 90%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.ReactionInfo {
  margin-left: 10%;
  margin-bottom: 10%;
  width: 90%;
  height: 30%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}