.baseLogin {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 94%;
    background-color: rgba(217, 217, 217, 0.89);
  }
  
  .login {
    background: #d9d9d9;
    border-radius: 20px;
    margin: 0 auto;
    padding: 26px 24px 46px;
    width: 15%;
    height: 50%;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input {
    width: 90%;
    height: 15%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.89);
    border: 1px solid #000000;
    color: black;
    font-size: 20px;
  }
  
  .input::placeholder {
    opacity: 1;
  }
  
  .sendLogin {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30%;
    width: 40%;
    height: 15%;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    background-color: #656565;
    color: white;
    font-size: 20px;
  }
  
  .oauth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: black;
    margin-top: 5%;
  }
  
  .oauth-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  
  .oauth-button {
    margin-left: 15px;
    width: 150%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    color: white;
  }

  .text {
    margin-top: 15%;
    margin-left: 20%;
  }

  @media only screen and (max-width: 750px) {
    .text {
      margin-left: 15%;
      margin-top: 0;
    }

    .baseLogin {
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
    }

    .login {
      width: 80%;
      height: 55%;
      margin-top: 0;
      margin-bottom: 20%;
    }
    
    .oauth {
      margin-top: 15%;
    }
  }